.page-content{
    padding-top: 10px;
    padding-bottom: 50px;
    .loading img{
       width: 30px; 
       animation: loadingRotate infinite 1s linear;
    }
    .paginator{
        flex-basis: 100%;
        max-width: 100%;
    }
    @keyframes loadingRotate {
      from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}