.page-content{
.post-item{
  padding-left: 15px!important;
  padding-right: 15px!important;
  margin-bottom: 50px;
  .entry-cover{
    position: relative;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .entry-title{
    display: block;
    font-weight: bold;
    margin: 27px 0 16px;
    padding-bottom: 18px;
    position: relative;
  }
  .entry-title:after {
    background-color: #e1e1e1;
    bottom: 0;
    content: "";
    height: 2px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    width: 30px;
  }
  .entry-content{
    padding: 0 15px!important;
    > a {
      color: #a1a1a1;
      font-size: 14px;
      letter-spacing: 0.18px;
      line-height: 2;
      margin-top: 12px;
      text-transform: uppercase;
    }
    p{
      color: #717171;
      letter-spacing: 0.150px;
      line-height: 1.6;
      margin-bottom: 15px;
      font-family: 'Hind', sans-serif;
    }
  }
}

}